@{
    Layout = null; // Eğer bir Layout kullanıyorsanız, burada Layout yolunu belirtebilirsiniz.
}

@model GEPS.Models.StudentProjectTeamsWeb

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate</title>
    <link rel="stylesheet" href="~/css/SubmitProjectTopics.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>

    <main>
        <div class="box">
            <div class="intro">
                <div class="intro-title">
                    <h2>Create Graduation Project</h2>
                </div>

                <div class="intro-exp">
                    <p>
                        Create a graduation project for your final year. This section guides students to form their team by adding
                        team members, specifying the project name, and selecting an advisor.
                    </p>
                </div>
            </div>

            <div class="create-project" onclick="redirectToCreateProject()">
                <i class="fa fa-plus"></i>
                <h4>Create Graduation Project</h4>
            </div>

            <script>
                function redirectToCreateProject() {
                    window.location.href = "/Student/ProjectCreate";
                }
            </script>


            <div>
                <table class="table-a">
                    <thead>
                        <tr>
                            <th>My Graduation Project</th>
                            <th>Team Members</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.ProjectName</td>
                            <td>
                                <ul>
                                    @foreach (var member in Model.Members)
                                    {
                                        <li>@member.StudentFullName - @member.StudentNumber</li>
                                    }
                                </ul>
                            </td>
                            <td>Empty</td>
                            <td><button class="action-btn" onclick="editProject(@Model.TeamId)">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

</body>

</html>
